<!--<div class="grid-container">-->

  <!--<section class="form">-->
    <!--<label>Knygos pavadinimas</label>-->
    <!--&lt;!&ndash;Two-way Data Binding&ndash;&gt;-->
    <!--<input [(ngModel)]="bookTitleValue" id="title" >-->

    <!--<label>Autorius</label>-->
    <!--<input [(ngModel)]="bookAuthorValue" id="author" >-->

    <!--<label>Puslapių skaičius</label>-->
    <!--<input type="number" [(ngModel)]="bookPageValue" id="page" min = 0>-->

    <!--<label>Žanras</label>-->
    <!--<select [(ngModel)]="bookGenreValue" id="genre" >-->
      <!--<option value="" disabled selected>Žanras</option>-->
      <!--<option value="romanas">Romanas</option>-->
      <!--<option value="monografija" >Monografija</option>-->
    <!--</select>-->

    <!--<button (click)="addBook()" *ngIf="editedBookIndex === undefined">Pridėti</button>-->
    <!--<button (click)="editBook()" *ngIf="editedBookIndex !== undefined">Atnaujinti</button>-->
    <!--<button (click)="editedBookIndex = undefined" *ngIf="editedBookIndex !== undefined">Atšaukti</button>-->
  <!--</section>-->


  <!--<section class="secondForm">-->

    <!--<button id="visosKnygos" (click)="visosKnygos()">Visos knygos</button>-->
    <!--<button id="romanai" (click)="romanai()" >Romanai</button>-->
    <!--<button id="monografijos" (click)="monografijos()" >Monografijos</button>-->

    <!--<table>-->
      <!--<thead>-->
      <!--<tr>-->
        <!--<th>Knygos pavadinimas</th>-->
        <!--<th>Autorius</th>-->
        <!--<th>Puslapių skaičius</th>-->
        <!--<th>Žanras</th>-->
        <!--<th class="alignCenter"></th>-->

      <!--</tr>-->


      <!--<tr *ngFor="let book of filteredBooks; let i = index;" [ngClass]="{'active': i === editedBookIndex}">-->

        <!--<td>{{book.title}}</td>-->

        <!--<td>{{book.author}}</td>-->

        <!--<td>{{book.page}}</td>-->

        <!--<td><img src='assets/images/edit.png' class="resize" alt="edit" (click)="initEdit(i)"></td>-->
        <!--<td><img src='assets/images/delete.png' class="resize" alt="delete" (click)="deleteBookByIndex(i)"></td>-->
      <!--</thead>-->

      <!--<tbody id="booksTable"></tbody>-->
    <!--</table>-->
  <!--</section>-->
<!--</div>-->
