<form>
  <h3>Prisijungimas</h3>

  <span class="ui-float-label">
    <input type="text" id="float-input" size="30" pInputText class="form-control" [formControl]="email">
    <label for="float-input">El. paštas</label>
    <div *ngIf="showEmailError" class="alert alert-danger" role="alert">
      Neteisingas el. paštas
    </div>
  </span>

  <span class="ui-float-label">
    <input type="password" id="float-input1" size="30" pInputText class="form-control" [formControl]="password">
    <label for="float-input">Slaptažodis</label>
    <div *ngIf="showPasswordError" class="alert alert-danger" role="alert">
      Slaptažodis per trumpas
    </div>
  </span>

  <button type="button" class="btn btn-primary" (click)="login()">Prisijungti</button>

  <div *ngIf="responseError" class="alert alert-danger" role="alert">
    {{responseError}}
  </div>
</form>
